.leftLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    color: #000;
}

.leftItem {
    cursor: pointer;
}

.leftIcon {
    margin-right: 20px;
    color: var(--secondary);
}

.leftItemText {
    font-size: 18px;
    font-weight: 500;
}

.leftItemDesc {
    font-size: 14px;
}
