.leftLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 6px;
    color: #000;
}
.leftItem {
    cursor: pointer;
}

.leftItem:active {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.leftIcon {
    margin-right: 20px;
    color: var(--secondary);
}

.leftItemText {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.leftItemDesc {
    color: grey;
    font-size: 14px;
}
