.menu {
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    transition: 0.5s;
    top: 0;
}

.menuContainer {
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: scroll;
    transition: 0.3s;
    padding-top: 20px;
}

.menuCloseIconContainer {
    position: absolute;
    cursor: pointer;
    left: 30px;
    top: 15px;
}

.menuCloseIcon {
    font-size: 35px;
    color: red;
}
