.profileUpdateInputs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7px;
    overflow: hidden;
    margin: 7px;
}

.profileUpdateInput {
    padding: 12px 10px;
    width: 100%;
    border: none;
    font-size: 18px;
}

.profileUpdateInput:focus {
    outline: none;
}

.profileUpdateBtn {
    width: 75%;
    padding: 10px;
    background-color: #ff1a8c;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
}

@media screen and (max-width: 650px) {
    .profileUpdateInputs {
        width: 95%;
    }

    .profileUpdateBtn {
        width: 95%;
    }
}
