.appButton {
    width: 75%;
    background-color: #ff1a8c;
    padding: 10px;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.appButton.active {
    opacity: 0.6;
}

.appButton.focus {
    outline: none;
}

@media screen and (max-width: 650px) {
    .appButton {
        width: 95%;
    }
}
