.up {
    position: fixed;
    right: 5%;
    background-color: var(--primary);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}
