.search {
    display: flex;
    flex: 1;
    justify-content: center;
}

.searchInputContainer {
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.searchInput {
    border: none;
    border-bottom: 1px solid gray;
    padding: 7px 12px;
    margin: 15px;
    width: 90%;
    font-size: 17px;
}

.searchInput:focus {
    outline: none;
}
