.error {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 40%;
    top: 10%;
}

.errorText {
    background-color: lightgray;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}
